body {
    background-color: #E3DFFD;
}

.main-background-color {
    background-color: #E3DFFD !important;
}

.second-background-color {
    background-color: #E5D1FA;
}

.third-bg-color {
    background-color: #ECF2FF;
}

.detail-image {
    width: 200px;
    height: 180px;
}

.smallIcon {
    width: 30px;
    height: 20px;
}

.mdIcon {
    width: 130px;
    height: 100px;
}

.mediumIcon {
    width: 30px;
    height: 30px;
}

.location {
    position: relative;
}

.location span {
    color: white;
    position: absolute;
    top: 20px;
    z-index: 100;
    left: 10%;
    font-size: 20px;
    font-weight: bold;
}

.lg-text {
    font-size: 20px;
}

.carousel-inner {
    max-height: 95vh;
}

.custom-carou-item {
    position: relative;
}

.carousel-caption {
    position: absolute;
    top: 0;
}

.tab-active {
    background-color: #ccc;
}

.border-color {
    border-color: #FFF4D2 !important;
    border-width: 2px !important;
}

.purple-btn {
    background-image: linear-gradient(40deg, #ff6ec4, #7873f5) !important;
}

.purple-btn:hover {
    filter: brightness(1.2);
}